

<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
    <p> {{title|titlecase}}</p> 
<p> {{title|uppercase}}</p>
      <p>
      {{title|lowercase}}</p>
      <p class="alert alert-info">{{title|summary:49}}</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4"*ngFor="let course of courseInfo">
      <div class="card">
  <div class="card-header">
   <h3>{{course.title}}</h3>
  </div>
  <div class="card-body">
<p>students: {{course.students|number}}</p>
<p>Ratings: {{course.ratings|number:'1.1-1'}}</p>
<p>Price: {{course.price|currency}}</p>
<p>ReleaseDate: {{course.releaseDate|date:'short'}}</p>
  </div>
</div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-8">
      <div class="form-group">
        <input [(ngModel)]="searchedVal" type="text" class="form-control">
      </div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Sr.no</th>
            <th>name</th>
            <th>age</th>
            <th>position</th>
            <th>team</th>
            <th>rating</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let player of players|filter:searchedVal; index as i">
          <td>{{i+1}}</td>
          <td>{{player.name}}</td>
          <td>{{player.age}}</td>
          <td>{{player.position}}</td>
          <td>{{player.team}}</td>
          <td>{{player.rating}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>